.footer {
    background-color: #04010d;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4rem;

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        color: #edebf5;
    }
}